@section Title {
    關於我們
}

<div class="container mt-5 p-5 rounded shadow" style="background-color: #f9f9f9;">
    <h1 class="text-center border-bottom pb-3" style="color: #1a73e8;">關於我們</h1>
    <img src="~/images/about2.jpg" class="img-fluid rounded shadow-lg my-3 d-block mx-auto" alt="關於我們圖片" style="width: 70%; max-width: 500px;">
    <p class="text-center mt-3 bg-light p-3 rounded">
        我們是一家專注於提供 <strong>優質服務</strong> 的企業。
    </p>
    <p class="text-center bg-light p-3 rounded">成立於 2024 年，我們致力於滿足客戶的需求。</p>
    <a href="/Home/Contact" class="btn btn-primary btn-lg mx-2 mt-4">聯絡我們</a>
    <a href="/Home/Services" class="btn btn-success btn-lg mx-2 mt-4">查看服務</a>
</div>
